@media screen  and ( max-width: 680px){
    div{
display:flex;
        flex-direction: column;
        margin: 48px 24px;
    }
    h2{
        font-size: 48px;
        margin-top:  24px;
        margin-bottom: 16px;
    }
.orange{
   margin-left: 0;
}
.text{
    font-size: 20px;

}
a{
    font-size: 18px;
}
button{
    margin-top: 24px;
    margin-bottom: 16px;
    height: 56px;

    width: 132px;
    font-size: 16px;
}
}